<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TargetProcess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" /></configSections>
    <applicationSettings>
        <TargetProcess.Properties.Settings>
            <setting name="tpAPIURL" serializeAs="String">
                <value>https://targetprocess.aemedia.ru/TargetProcess2/api/v1/</value>
            </setting>
            <setting name="tpToken" serializeAs="String">
                <value>Token=MjU6Qjg0REU3MTY0OUQ4RDEyRTBGM0U5Qjg2ODlDNTUzNDE=</value>
            </setting>
        </TargetProcess.Properties.Settings>
    </applicationSettings>
</configuration>